<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.css}">
    <script th:src="@{/webjars/jquery/3.5.1/dist/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../web/js/vue.min.js"></script>
    <script type="text/javascript" src="../bootstrap/bootstrap-paginator.js"></script>
</head>
<body>
        <div id="app" class="container">
            <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" onclick="update(0);"><i class="fa fa-file-o"></i> 新建</button>
            <h1>意见反馈</h1>
            <table class="table table-bordered">
                <tr>
                    <th>Id</th>
                    <th>姓名</th>
                    <th>电话</th>
                    <th>邮箱</th>
                    <th>留言内容</th>
                    <th>时间</th>
                    <th>状态</th>
                    <th>类型</th>
                    <th>操作</th>
                </tr>
                <tr v-for="idea in ideaList">
                    <td>{{idea.ideaId}}</td>
                    <td>{{idea.ideaName}}</td>
                    <td>{{idea.ideaPhone}}</td>
                    <td>{{idea.ideaEmail}}</td>
                    <td>{{idea.ideaContent}}</td>
                    <td>{{idea.ideaTime}}</td>
                    <td>{{idea.statusId==1?"已浏览":"未浏览"}}</td>
                    <td>{{idea.typeId==1?"投诉":"建议"}}</td>
                    <td><button type="button" class="RoleOfdelete btn btn-primary  btn-sm" style="margin-right:15px;" v-on:click="del(idea.ideaId)">删除</button>
                        <button type="button" class="RoleOfdelete btn btn-primary  btn-sm" style="margin-right:15px;" data-toggle="modal" data-target="#editModal" v-on:click="update(idea.ideaId)">修改</button></td>
                </tr>
            </table>
            <div id="example" style="text-align:center"><ul id="pageLimit"></ul></div>
        </div>


        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" id="ppa">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">留言信息</h3>
                    </div>
                    <form id="forms" method="post">
                        <div class="modal-body">
                            <table class="table table-bordered table-striped"  width="800px">
                                <input class="form-control" name="ideaId" style="display:none" readonly="readonly" v-model="idea.ideaId">
                                <tr>
                                    <td>姓名</td>
                                    <td><input class="form-control" type="text" name="ideaName" placeholder="姓名" v-model="idea.ideaName"></td>
                                </tr>
                                <tr>
                                    <td>电话</td>
                                    <td><input class="form-control" type="text" name="ideaPhone" placeholder="电话" v-model="idea.ideaPhone"></td>
                                </tr>
                                <tr>
                                    <td>邮箱</td>
                                    <td><input class="form-control" type="text" name="ideaEmail" placeholder="邮箱" v-model="idea.ideaEmail"></td>
                                </tr>
                                <tr>
                                    <td>留言内容</td>
                                    <td><input class="form-control" type="text" name="ideaContent" placeholder="留言内容" v-model="idea.ideaContent"></td>
                                </tr>
                                <tr>
                                    <td>留言时间</td>
                                    <td><input class="form-control" type="date" name="ideaTime" placeholder="留言时间" v-model="idea.ideaTime"></td>
                                </tr>
                                <tr>
                                    <td>留言状态</td>
                                    <td><input type="radio" name="statusId" v-model="idea.statusId" value="1">已浏览
                                        <input type="radio" name="statusId" v-model="idea.statusId" value="2">未浏览</td>
                                </tr>
                                <tr>
                                    <td>留言类型</td>
                                    <td><input type="radio" name="typeId" v-model="idea.typeId" value="1">投诉
                                        <input type="radio" name="typeId" v-model="idea.typeId" value="2">建议</td>
                                </tr>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" onclick="insert()">保存</button>
                            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data: {
                ideaList: "",
                totalPage:"",
                total:"",
                currPage:"",
                pageSize:""
            }
        })

        $(function() {
            searchIdeaList();
        })

        function searchIdeaList(){
            $.ajax({
                type:"get",
                url:"../idea/findIdeaPage",
                data:{"currPage":vm.currPage,"pageSize":vm.pageSize},
                dataType:"json",
                success: function(result) {
                    vm.ideaList = result.rows;
                    vm.totalPage = result.totalPage;
                    vm.total = result.total;
                    vm.currPage = result.currPage;
                    vm.pageSize = result.pageSize;
                    setPage(result.currPage,result.totalPage,result.pageSize,searchIdeaList);
                },
                error : function() {
                    alert("系统错误，请联系管理员！");
                }
            })
        }

        function setPage(pageCurrent,pageSum,pageSize,callback){
            $('#pageLimit').bootstrapPaginator({
                currentPage:pageCurrent,
                totalPages:pageSum,
                size:"normal",
                bootstrapMajorVersion:3,
                alignment:"right",
                numberOfPages:pageSize,
                itemTexts:function(type,page,current){
                    switch(type){
                        case "first" : return "首页";
                        case "prev" : return "上一页";
                        case "next" : return "下一页";
                        case "last" : return "末页";
                        case "page" : return page;
                    }
                },
                onPageClicked: function(event,originalEvent,type,page){
                    vm.currPage = page;
                    callback && callback()
                }
            });
        }

        function del(ideaId){
            $.ajax({
                url:'../idea/deleteIdea',
                type:'post',
                data:{"ideaId":ideaId},
                dataType:"json",
                success:function(){

                }
            })
            alert("删除成功");
            searchIdeaList();
        }

        var vs = new Vue({
            el: '#ppa',
            data: {
                idea:''
            }
        })

        function insert(){
            $.ajax({
                url:'../idea/addIdea',
                type:'post',
                data:$('#forms').serialize(),
                success:function(){
                    searchIdeaList();
                }
            })
        }

        function update(ideaId){
            $.ajax({
                url:"../idea/findOne",
                type:"post",
                data:{"ideaId":ideaId},
                success:function(data){
                    vs.idea=data;
                },
            });
        }
    </script>
</body>
</html>